* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #354f52;
  --button-hover-color: #428e92;
  --black-color: #000;
  --white-color: #fff;
  --border-color: #ccc;
  --placeholder-color: #ececec;
}
